#Bachelor {
  margin-top: 50px;
}

#Bachelor .Bachelors {
  background: #212E31;
  opacity: 0.95;
  box-shadow: 0px 11.5735px 36.3739px rgba(81, 69, 158, 0.2);
  border-radius: 15px;
  width: 1189px;
  height: 544px;
  margin-left: -37px;
}

#Bachelor .Bachelor-right h2 {
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 70px;
  color: #FFFFFF;
  margin-left: 49px;
  margin-top: 64px;
}

#Bachelor .list {
  margin-left: 39px;
  margin-top: 55px;
}

#Bachelor .list .listpinsel {
  display: flex;
}

#Bachelor .list .listpinsel button {
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 19.3243px;
  line-height: 23px;
  color: #2C383B;
  flex: none;
  order: 0;
  flex-grow: 0;
  width: 303px;
  height: 55px;
  left: 127px;
  top: 2615px;
  background: #FFFFFF;
  border-radius: 609.459px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 42px;
  gap: 10px;
  margin-top: 25px;
  margin-left: 25px;
}

#Bachelor .list .listpinsel p {
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 60px;
  color: #FFFFFF;
  opacity: 0.8;
  margin-left: 10px;
  width: 420px;
  margin-top: -17px;
}


#Bachelor .Bachelor-left img {
  border-radius: 15px;
}

@media (max-width: 576px) {
  #Bachelor {
    margin-top: -63px;
}
  #Bachelor .Bachelors {
    margin-left: -8px;
    width: 359px;
    margin-bottom: 206%;
    height: 482px;
  }

  #Bachelor .Bachelor-right h2 {
    font-size: 36px;
    margin-top: 29px;
    margin-left: 34px;
  }

  #Bachelor .list {
    margin-left: -4px;
    margin-top: 12px;
  }

  #Bachelor .list .listpinsel p {
    font-size: 27px;
    margin-top: 24px;
    margin-left: 39px;
  }

  #Bachelor .list .listpinsel button{
    margin-top: 35px;
    margin-left: 53px;
  }

  #Bachelor .Bachelor-left img {
    border-radius: 15px;
    width: 350px;
    margin-top: 83px;
  }
}